:root {
  --color-ts-blue-a: #2B6DBF;
  --color-ts-blue-b: #1F508C;
  --color-ts-blue-c: #002337;
}

.bg-ts-blue-a { background-color: #2B6DBF; }
.ts-blue-a { color: #2B6DBF; }
.b--ts-blue-a { border-color: #2B6DBF; }

.bg-ts-blue-b { background-color: #1F508C; }
.ts-blue-b { color: #1F508C; }
.b--ts-blue-b { border-color: #1F508C; }

.bg-ts-blue-c { background-color: #002337; }
.ts-blue-c { color: #002337; }
.b--ts-blue-c { border-color: #002337; }
